
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  background-color: lightblue;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

#chooseProduct {
    position: absolute;
    top: 3%; 
    right: 50%;
    transform: translate(50%,-50%);
    
}


#termekekform {
    padding: 20px;
    position: absolute;
    top: 80%; right: 50%;
    transform: translate(50%,-50%);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    jusify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    width: 800px;
    height: auto;
    background-color: white;
    
}

input[type=number]{
    margin-top: 10px;
    border: 2px solid blue;
    border-radius: 15px;
    padding: 10px;
    background-color: lightcyan;
    width: 70px;
}

input[type=submit]{
    border: 1px solid gray;
    padding: 10px;
    background-color: lightgray;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
    
}

.products{
    border: 1px solid grey;
    border-radius: 15px;
    width: 600px;
    height: 75px;
    
}
img{
    margin: 42px;
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 5px;
    
}

.pictures {
    background-color: transparent;
    position: absolute;
    top: 9%;
    left:30%;
    display: flex;
    flex-direction: column;
    
}
